{% extends 'base.html' %}


{% block center %}
<!-- login form -->
<!-- login form -->
<div class="">
    <div class="container d-flex justify-content-center mt-3">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <strong>Login</strong>
                </div>
                <div class="card-body">
                    <form name="login" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class='fas fa-user-shield'></i>
                                            </span>
                                        </div>
                                        {{ form.username(class="form-control") }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class='fas fa-user-secret'></i>
                                            </span>
                                        </div>
                                        {{ form.password(class="form-control") }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <span>
                                        Remember me {{ form.remember_me() }}
                                    </span> 
                                </div>
                                <div class="form-group">
                                    {{ form.submit(class="btn btn-info btn-success btn-block submit") }}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <a class="btn btn-success btn-block submit" href="{{ url_for('register') }}">Sing up</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
